@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Hind+Siliguri:wght@500&family=Playfair+Display:wght@400;500;600;700&family=Roboto:wght@500&display=swap');

.App {
  text-align: center;
}

h2 {
  color: blue;
  background-color: antiquewhite;
  font-size: 40px;
  font-family: 'Domine', serif;
  text-transform: uppercase;
}
.person{
  color: whitesmoke;
  background-color: yellowgreen;
  border: 3px solid rebeccapurple;
  padding: 20px;
  margin: 20px;
  border-radius: 40px;
  font-family: 'Domine', serif;
  font-family: 'Hind Siliguri', sans-serif;
  text-transform: uppercase;
}

.friends{
  color: orangered;
  background-color: aquamarine;
  border: 3px solid rebeccapurple;
  padding: 20px;
  margin: 20px;
  border-radius: 60px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-family: 'Hind Siliguri', sans-serif;

}

li{
  color: red;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  background-color: antiquewhite;
  list-style: o;
  border-radius: 20px;
  margin: 10px;
  font-weight: 600;
}