.App {
  text-align: center;
}

h2 {
  color: blue;
  background-color: antiquewhite;
  font-size: 40px;
  font-family: Domine;
  text-transform: uppercase;
}
.person{
  color: whitesmoke;
  background-color: yellowgreen;
  border: 3px solid rebeccapurple;
  padding: 20px;
  margin: 20px;
  border-radius: 40px;
  font-family: Domine, Hind Siliguri;
  text-transform: uppercase;
}

.friends{
  color: orangered;
  background-color: aquamarine;
  border: 3px solid rebeccapurple;
  padding: 20px;
  margin: 20px;
  border-radius: 60px;
  text-transform: uppercase;
  font-family: Cambria;
}

li{
  color: red;
  text-transform: uppercase;
  font-family: Cambria;
  font-size: 25px;
  background-color: antiquewhite;
  list-style: o;
  border-radius: 20px;
  margin: 10px;
  font-weight: 600;
}